.DS_Store
Histogram files/peaks.txt
Histogram files/folderbed/K562.bed
Histogram files/singularity/chrom1/annotated_1500_3.txt
Histogram files/singularity/chrom10/annotated_1500_3.txt
Histogram files/singularity/chrom11/annotated_1500_3.txt
Histogram files/singularity/chrom12/annotated_1500_3.txt
Histogram files/singularity/chrom13/annotated_1500_3.txt
Histogram files/singularity/chrom14/annotated_1500_3.txt
Histogram files/singularity/chrom15/annotated_1500_3.txt
Histogram files/singularity/super.bed
Histogram files/singularity/chromY/annotated_1500_3.txt
Histogram files/singularity/chromX/annotated_1500_3.txt
Histogram files/singularity/chrom9/annotated_1500_3.txt
Histogram files/singularity/chrom8/annotated_1500_3.txt
Histogram files/singularity/chrom7/annotated_1500_3.txt
Histogram files/singularity/chrom6/annotated_1500_3.txt
Histogram files/singularity/chrom5/annotated_1500_3.txt
Histogram files/singularity/chrom4/annotated_1500_3.txt
Histogram files/singularity/chrom3/annotated_1500_3.txt
Histogram files/singularity/chrom22/annotated_1500_3.txt
Histogram files/singularity/chrom21/annotated_1500_3.txt
Histogram files/singularity/chrom20/annotated_1500_3.txt
Histogram files/singularity/chrom2/annotated_1500_3.txt
Histogram files/singularity/chrom19/annotated_1500_3.txt
Histogram files/singularity/chrom18/annotated_1500_3.txt
Histogram files/singularity/chrom17/annotated_1500_3.txt
